<h1>Encode a Message!</h1>

<form action="show" method="post" accept-charset="utf-8">
  <label for="message"> Message: </label>
  <input type="text" name="message">

  <label for="shift"> Letter Shift </label>
  <input type="text" name="shift">

  <input type="submit" value="Encode!">
</form>
